In [1]:
from flaskexample.perfume_recommendation import Fragrance_Retrieve_Model
gre = Fragrance_Retrieve_Model()

[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/biqiongyu/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to /Users/biqiongyu/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

/anaconda3/lib/python3.6/site-packages/smart_open/smart_open_lib.py:398: UserWarning: This function is deprecated, use smart_open.open instead. See the migration notes for details: https://github.com/RaRe-Technologies/smart_open/blob/master/README.rst#migrating-to-the-new-open-function
  'See the migration notes for details: %s' % _MIGRATION_NOTES_URL
/anaconda3/lib/python3.6/site-packages/smart_open/smart_open_lib.py:398: UserWarning: This function is deprecated, use smart_open.open instead. See the migration notes for details: https://github.com/RaRe-Technologies/smart_open/blob/master/README.rst#migrating-to-the-new-open-function
  'See the migration notes for details: %s' % _MIGRATION_NOTES_URL
/anaconda3/lib/python3.6/site-packages/smart_open/smart_open_lib.py:398: UserWarning: This function is deprecated, use smart_open.open instead. See the migration notes for details: https://github.com/RaRe-Technologies/smart_open/blob/master/README.rst#migrating-to-the-new-open-function
  'See the migration notes for details: %s' % _MIGRATION_NOTES_URL

In [2]:
love_message = "I'm looking for a Christmas gift for my boyfriend. He loves sea."
hate_message = "vanilla, sage"

rec = gre.query_similar_perfumes(love_message, hate_message)
rec

                         semantic_similarity  lsi_similarity  tot_similarity
name
Acqua Di Gio Pour Homme            -0.043937        0.502159        0.338330
Versace Man Eau Fraiche            -0.046936        0.498957        0.335189
’REPLICA’ Sailing Day               0.027620        0.452365        0.324941
Invictus                           -0.177254        0.503328        0.299154
Pour Homme                         -0.089571        0.459066        0.294475
The One For Men                    -0.068835        0.441013        0.288059
L'Homme                            -0.066756        0.435508        0.284828
Light Blue Pour Homme              -0.068364        0.432470        0.282220

In [3]:
love_message = "rose rose rose rose rose rose"
hate_message = ""

y = gre.get_message_lsi_embedding_vector(love_message)
rec = gre.query_similar_perfumes(love_message, hate_message)
rec

,semantic_similarity,lsi_similarity,tot_similarity
name,,,
Roses De Chloé,-0.106346,0.876299,0.581505
Stella,-0.069362,0.812432,0.547894
Amazing Grace Ballet Rose Eau de Toilette,-0.049022,0.786202,0.535635
Velvet Rose & Oud Cologne Intense,-0.001613,0.449432,0.314118

In [4]:
# test unrevelant messages
love_message = "iPhone"
hate_message = ""

y = gre.get_message_lsi_embedding_vector(love_message)
rec = gre.query_similar_perfumes(love_message, hate_message)
rec

In [5]:
hate_message = "vanilla,sage"
gre.get_dissimilarity_scores(hate_message).head()

,semantic_dissimilarity,lsi_dissimilarity,tot_dissimilarity
name,,,
Y Eau de Parfum,-0.061839,0.662896,0.445475
Man Blue,0.073610,0.562176,0.415606
Y Eau de Toilette,0.022138,0.497519,0.354905
Wild Bluebell Cologne,0.083056,0.342935,0.264971
Vanille Insensée Cologne Absolue Pure Perfume,-0.005750,0.370626,0.257713

In [6]:
#test no input
love_message = ""
hate_message = "vanilla, sage"

noinput = gre.query_similar_perfumes(love_message, hate_message)

In [7]:
#stability test
love_message = "I like chocolate"
hate_message = ""

recs = gre.query_similar_perfumes(love_message, hate_message)
recs

                   semantic_similarity  lsi_similarity  tot_similarity
name
Angel                        -0.049139        0.783757        0.533888
Alien                         0.017274        0.691521        0.489247
Prada Candy Night             0.076671        0.489438        0.365608

In [8]:
#stability test
love_message = "I like chocolate and vanilla"
hate_message = ""

recs = gre.query_similar_perfumes(love_message, hate_message)
recs

,semantic_similarity,lsi_similarity,tot_similarity
name,,,
Angel,0.065394,0.633903,0.463350
Vanille Insensée Cologne Absolue Pure Perfume,0.126071,0.574162,0.439735
Alien,0.012193,0.546221,0.386012
Vanilla Woods Eau de Parfum,0.103449,0.463918,0.355777
Vanille Coco,-0.009487,0.445621,0.309088

In [9]:
#stability test
love_message = "I like chocolate vanilla and rose."
hate_message = ""

recs = gre.query_similar_perfumes(love_message, hate_message)
recs

,semantic_similarity,lsi_similarity,tot_similarity
name,,,
Stella,0.089836,0.608897,0.453179
Roses De Chloé,0.070605,0.616707,0.452877
Amazing Grace Ballet Rose Eau de Toilette,0.061638,0.546903,0.401324
Angel,-0.044756,0.453421,0.303968
Vanille Insensée Cologne Absolue Pure Perfume,-0.052042,0.426887,0.283209

In [10]:
#stability test
love_message = "I like chocolate vanilla rose and sage."
hate_message = ""

recs = gre.query_similar_perfumes(love_message, hate_message)
recs

,semantic_similarity,lsi_similarity,tot_similarity
name,,,
Y Eau de Parfum,0.125216,0.529030,0.407885
Roses De Chloé,0.047448,0.428908,0.314470
Amazing Grace Ballet Rose Eau de Toilette,0.097762,0.385700,0.299319
Stella,-0.030343,0.436192,0.296232
Man Blue,-0.067120,0.432328,0.282494

In [11]:
#stability test
love_message = "I like chocolate vanilla sage and rose."
hate_message = ""

recs = gre.query_similar_perfumes(love_message, hate_message)
recs

                   semantic_similarity  lsi_similarity  tot_similarity
name
Y Eau de Parfum               0.008069        0.529030        0.372741
Stella                        0.082903        0.436192        0.330205
Man Blue                      0.060686        0.432328        0.320836
Roses De Chloé               -0.035895        0.428908        0.289467
Y Eau de Toilette             0.035444        0.385948        0.280797