In [1]:
from flaskexample.perfume_recommendation import Fragrance_Retrieve_Model
gre = Fragrance_Retrieve_Model()

[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/biqiongyu/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to /Users/biqiongyu/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

/anaconda3/lib/python3.6/site-packages/smart_open/smart_open_lib.py:398: UserWarning: This function is deprecated, use smart_open.open instead. See the migration notes for details: https://github.com/RaRe-Technologies/smart_open/blob/master/README.rst#migrating-to-the-new-open-function
  'See the migration notes for details: %s' % _MIGRATION_NOTES_URL
/anaconda3/lib/python3.6/site-packages/smart_open/smart_open_lib.py:398: UserWarning: This function is deprecated, use smart_open.open instead. See the migration notes for details: https://github.com/RaRe-Technologies/smart_open/blob/master/README.rst#migrating-to-the-new-open-function
  'See the migration notes for details: %s' % _MIGRATION_NOTES_URL
/anaconda3/lib/python3.6/site-packages/smart_open/smart_open_lib.py:398: UserWarning: This function is deprecated, use smart_open.open instead. See the migration notes for details: https://github.com/RaRe-Technologies/smart_open/blob/master/README.rst#migrating-to-the-new-open-function
  'See the migration notes for details: %s' % _MIGRATION_NOTES_URL

In [2]:
love_message = "I'm looking for a Christmas gift for my boyfriend"
hate_message = "vanilla, sage"


rec = gre.query_similar_perfumes(love_message, hate_message)
rec

                         semantic_similarity  lsi_similarity  tot_similarity
name
Legend                              0.023494        0.879901        0.622979
Invictus                            0.038457        0.824561        0.588730
The One For Men                    -0.049587        0.817070        0.557073
Man                                 0.043694        0.756429        0.542609
Versace Man Eau Fraiche             0.057935        0.746988        0.540272
L'Homme                             0.008236        0.748982        0.526758
Light Blue Pour Homme               0.005392        0.738265        0.518403
Pour Homme                          0.000674        0.734808        0.514568
1 Million                           0.018845        0.687383        0.486821
Armani Code                         0.009514        0.688161        0.484567

In [3]:
love_message = "I'm looking for a Christmas gift for my boyfriend. He loves sea."
hate_message = "vanilla, sage"


rec = gre.query_similar_perfumes(love_message, hate_message)
rec

                         semantic_similarity  lsi_similarity  tot_similarity
name
Acqua Di Gio Pour Homme             0.038177        0.502159        0.362964
Invictus                            0.028412        0.503328        0.360853
Versace Man Eau Fraiche             0.030934        0.498957        0.358550
’REPLICA’ Sailing Day               0.117770        0.452365        0.351986
Pour Homme                          0.006977        0.459066        0.323439
L'Homme                             0.035359        0.435508        0.315463
Light Blue Pour Homme               0.025873        0.432470        0.310491
The One For Men                     0.005484        0.441013        0.310355
Eros                                0.096173        0.396530        0.306423
Legend                             -0.004199        0.429848        0.299634

In [4]:
love_message = "I love sea"
hate_message = ""


rec = gre.query_similar_perfumes(love_message, hate_message)
rec

,semantic_similarity,lsi_similarity,tot_similarity
name,,,
Vanilla Vibes,-0.106097,0.673620,0.439705
Wood Sage & Sea Salt Cologne,-0.017393,0.518545,0.357763
’REPLICA’ Sailing Day,-0.064552,0.510569,0.338033
Magic Salty Flower,0.012589,0.400598,0.284195

In [5]:
love_message = "rose rose rose rose rose rose"
hate_message = ""

y = gre.get_message_lsi_embedding_vector(love_message)
rec = gre.query_similar_perfumes(love_message, hate_message)
rec

,semantic_similarity,lsi_similarity,tot_similarity
name,,,
Roses De Chloé,0.028742,0.876299,0.622032
Stella,0.124823,0.812432,0.606149
Amazing Grace Ballet Rose Eau de Toilette,0.054003,0.786202,0.566542
Velvet Rose & Oud Cologne Intense,0.014805,0.449432,0.319044
Chloé Eau de Parfum,0.077544,0.369424,0.281860

In [6]:

love_message = "rose"
hate_message = ""

y = gre.get_message_lsi_embedding_vector(love_message)
rec = gre.query_similar_perfumes(love_message, hate_message)
rec

,semantic_similarity,lsi_similarity,tot_similarity
name,,,
Stella,0.033461,0.812432,0.578741
Roses De Chloé,-0.115815,0.876299,0.578664
Amazing Grace Ballet Rose Eau de Toilette,-0.113470,0.786202,0.516300
Velvet Rose & Oud Cologne Intense,-0.006807,0.449432,0.312560

In [7]:
# test unrevelant messages
love_message = "iPhone"
hate_message = ""

y = gre.get_message_lsi_embedding_vector(love_message)
rec = gre.query_similar_perfumes(love_message, hate_message)
rec

In [8]:
# test 
love_message = 'cover sweat'
hate_message = ""

rec = gre.query_similar_perfumes(love_message, hate_message)
rec

,semantic_similarity,lsi_similarity,tot_similarity
name,,,
Cashmere Mist Deodorant,0.041342,0.826078,0.590657
The Healthy Deodorant,-0.027411,0.824517,0.568938
BLEU DE CHANEL Deodorant Stick,0.104838,0.605711,0.455449
CHANCE EAU VIVE,0.062131,0.457889,0.339162

In [9]:
# test 
love_message = 'sweat'
hate_message = ""

rec = gre.query_similar_perfumes(love_message, hate_message)
rec

,semantic_similarity,lsi_similarity,tot_similarity
name,,,
The Healthy Deodorant,0.069689,0.837074,0.606858
Cashmere Mist Deodorant,0.041044,0.836033,0.597537
BLEU DE CHANEL Deodorant Stick,0.046426,0.594838,0.430314
CHANCE EAU VIVE,0.027842,0.467745,0.335774

In [10]:
hate_message = "vanilla,sage"
gre.get_dissimilarity_scores(hate_message).head()

,semantic_dissimilarity,lsi_dissimilarity,tot_dissimilarity
name,,,
Y Eau de Parfum,0.099651,0.662896,0.493922
Man Blue,-0.053206,0.562176,0.377562
Y Eau de Toilette,-0.104970,0.497519,0.316772
Vanilla Vibes,0.098597,0.361016,0.282291
Vanille Insensée Cologne Absolue Pure Perfume,0.019001,0.370626,0.265138

In [11]:
#test no input
love_message = ""
hate_message = "vanilla, sage"

noinput = gre.query_similar_perfumes(love_message, hate_message)
noinput

In [12]:
#stability test
love_message = "I like chocolate"
hate_message = ""

recs = gre.query_similar_perfumes(love_message, hate_message)
recs

                   semantic_similarity  lsi_similarity  tot_similarity
name
Angel                         0.087094        0.783757        0.574758
Alien                         0.040669        0.691521        0.496265
Prada Candy Night            -0.035239        0.489438        0.332035

In [13]:
#stability test
love_message = "I like chocolate and vanilla"
hate_message = ""

recs = gre.query_similar_perfumes(love_message, hate_message)
recs

,semantic_similarity,lsi_similarity,tot_similarity
name,,,
Angel,0.076562,0.633903,0.466701
Alien,0.092946,0.546221,0.410238
Vanille Insensée Cologne Absolue Pure Perfume,-0.007716,0.574162,0.399599
Vanille Coco,0.048686,0.445621,0.326540
Vanilla Woods Eau de Parfum,-0.024825,0.463918,0.317295

In [14]:
#stability test
love_message = "I like chocolate vanilla and rose."
hate_message = ""

recs = gre.query_similar_perfumes(love_message, hate_message)
recs

,semantic_similarity,lsi_similarity,tot_similarity
name,,,
Roses De Chloé,0.014207,0.616707,0.435957
Stella,0.015268,0.608897,0.430809
Amazing Grace Ballet Rose Eau de Toilette,0.004885,0.546903,0.384298
Angel,0.093527,0.453421,0.345452
Alien,0.122353,0.398874,0.315918
Vanille Insensée Cologne Absolue Pure Perfume,0.004103,0.426887,0.300052

In [15]:
#stability test
love_message = "I like chocolate vanilla rose and sage."
hate_message = ""

recs = gre.query_similar_perfumes(love_message, hate_message)
recs

                 semantic_similarity  lsi_similarity  tot_similarity
name
Y Eau de Parfum             0.043083        0.529030        0.383246
Stella                      0.063082        0.436192        0.324259
Roses De Chloé              0.025128        0.428908        0.307774
Man Blue                   -0.066967        0.432328        0.282540

In [16]:
#stability test
love_message = "I like chocolate vanilla sage and rose."
hate_message = ""

recs = gre.query_similar_perfumes(love_message, hate_message)
recs

                 semantic_similarity  lsi_similarity  tot_similarity
name
Y Eau de Parfum             0.009677        0.529030        0.373224
Roses De Chloé              0.072086        0.428908        0.321861
Man Blue                    0.022567        0.432328        0.309400

In [19]:
love_message = "I love sea."
hate_message = ""

recs = gre.query_similar_perfumes(love_message, hate_message)
recs

,semantic_similarity,lsi_similarity,tot_similarity
name,,,
Vanilla Vibes,-0.106097,0.673620,0.439705
Wood Sage & Sea Salt Cologne,-0.017393,0.518545,0.357763
’REPLICA’ Sailing Day,-0.064552,0.510569,0.338033
Magic Salty Flower,0.012589,0.400598,0.284195